@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 style="text-align:center">AG Grid Custom Layout POC</h1>
    <hr />
    <p>This project is a proof of concept utlizing the powerful, mobile-responsive <a href="https://www.ag-grid.com/" target="_blank">AG Grid</a> for an upcoming work assignment. This project proves that each user is able to customize their layout of the grids available to them. Some of the ways the user can customize their grid is by rearranging, hiding and resizing columns.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>How to Test Out the Project</h2>
        <ul>
            <li>Register at least two users to your local site.</li>
            <li>Visit the grids listed in the navigation bar</li>
            <li>Update the layout of the user's grid. Make sure to click the "Save Layout" button!</li>
            <li>Visit SQL Server to check out the data and how it was stored.</li>
            <li>Refresh the page and even log out/log back in to see the persistance of your custom grid layout</li>
            <li>Try this out with other users. Notice how each user is able to have their own grid layout, despite other users.</li>
        </ul>
    </div>
</div>